@charset "UTF-8";

/* Versão para celular (>= 600px) - Mobile first */

/* 
    ====> Paleta de cores <====


*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    color: black;
}

html, body {
    background-color: blue;
}

div#header {
    display: flex;
    max-width: 1200px;
    margin: auto;
    justify-content: space-between;
}

a {
    color: red;
}

main {
    margin: auto;
    background-color: white;
    width: 260px;
}

section {
    padding: 10px;
}