@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    color: black;
    list-style-type: none;
}

/* Versão para celular (>= 600px) - Mobile first */

/*====> Variáveis de Paleta de cores <====*/
:root {

    --cor1: #012030;
    --cor2: #13678A;
    --cor3: #45C4B0;
    --cor4: #9AEBA3;
    --cor5: #DAFDBA;

} 
    
html, body {
    background-color: var(--cor2);
}

/*Cabeçalho e Menu*/

header {
    background-color: var(--cor1);
}

div#header {
    max-width: 1200px;
    margin: auto;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
}

div#header h1 {
    text-align: center;
    padding: 5px;
    color: white;
}

nav {
    display: none;
}

nav ul li {
    text-align: center;
    padding: 7px;
}

nav ul li::after {
    content: '';
    display: block;
    width: 0;
    height: 3px;
    background-color: var(--cor5);
    transition: width .5s;
}

nav ul li:hover::after{
    width: 100%;
    transition: width .5s;
}

nav ul li a {
    color: var(--cor5);
}

span#menu-mobile {
    cursor: pointer;
    display: block;
    text-align: center;
    padding: 7px;
    color: var(--cor3);
}

span#menu-mobile:hover {
    background-color: var(--cor2);
    color: white;
    transition: 1s;
}

a {
    color: red;
}

.saiba-mais:hover {
    border-bottom: 2px solid red;
    font-weight: bold;
}

/*Conteúdo principal*/

main {
    max-width: 65%;
    margin: auto;
    border-radius: 6px;
    background-color: rgba(255, 255, 255, 0.782);    
}

section {
    padding: 15px;
    line-height: 1.4em;
}

section h2 {
    background-image: linear-gradient(to right, var(--cor1), var(--cor2), var(--cor3));
    padding: 8px;
    border-radius: 3px;
    margin-bottom: 15px;
    color: var(--cor4);
}

section h3 {
    margin: 15px 0px 10px 0px;
}

section p {
    text-align: left;
    word-spacing: -1.2px;
    font-size: 15px;
}

section#favoritos div img {
    width: 100%;
    height: 200px;
}

/*Formulário de contato*/

form input {
    width: 100%;
    padding: 5px;
}

form textarea {
    width: 100%;
}

form input#btn-enviar {
    width: 70px;
    display: block;
    margin: auto;
    text-align: center;
}

/*Rodapé*/

footer {
    padding: 10px;
    background-color: var(--cor1);
}

footer p {
    text-align: center;
    color: var(--cor4);
}

footer p a {
    color: var(--cor5);
}