@charset "UTF-8";

/* Versão para celular (>= 600px) - Mobile first */

/* 
    ====> Paleta de cores <====


*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    text-align: justify;
    color: black;
}

html, body {
    background-color: blue;
}

div#header {
    display: flex;
    max-width: 1200px;
    margin: auto;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

nav ul {
    display: flex;
    list-style-type: none;
    gap: 1rem;
}

nav {
    display: none;
}

span#menu-mobile {
    cursor: pointer;
}

a {
    color: red;
}

main {
    width: 270px;
    margin: auto;
    border-radius: 6px;
    background-color: white;    
}

section {
    padding: 10px;
}

section h2 {
    background-image: linear-gradient(to right, #000000, #242323, #545454);
    padding: 4px;
    border-radius: 3px;
    margin-bottom: 15px;
    color: white;
}

section h3 {
    margin: 15px 0px 10px 0px;
}

section p {
    font-size: 11pt;
    line-height: 1.6em;
}

section#favoritos div img {
    width: 240px;
    height: 200px;
}